.navbar {
  margin-top: 15px;
}

.navbar-form {
  position: absolute;
  right: 9px;
}

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h3, h4, p {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none !important;
  color: #333; 
}

.navbar, .panel-grey {
  background-color: #ccc !important;
  border-color: rgba(56, 51, 51, 0.21);
}

.panel-title {
  font-size: 18px;
}

.jumbotron {
  background-color: #F8F8F8;
  padding-left: 30px;
  padding-right: 30px;
  padding: 15px;
}

.mini-jumbotron {
  padding: 15px !important;
}

#righ-float-button{
  float: right;
}

.bg-warning .bg-success {
  padding: 10px;
}

.form-horizontal {
  padding: 10px;
}

.input {
  width: 100%;
}

.important {
  font-size: 25px;
}

.glyphicon {
  color: white;
}
